@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}

.hide {
    display: none!important;
}

a {
    color: #000000!important;
    text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow-x: hidden;
}

body {
    max-width: 500px;
    height: auto;
    padding: 16px;
    margin: 0 auto;
}

header {
    font-size: 26px;
    font-weight: 800;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    padding-bottom: 16px;
    position: relative;
    z-index: 1;
}

.header-button {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.header-icon {
    width: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.card-container {
    margin-bottom: 16px;
}

.card-banner {
    width: 100%;
    border-radius: 16px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card-title {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    line-height: 1;
    margin-bottom: 2px;
}

.card-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans Thai', sans-serif;
}

.calculate-wallpaper {
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.calculate-banner-icon {
    width: calc(100% - 100px);
    object-fit: cover;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
}

.calculate-form {
    width: calc(100% - 75px);
    margin: 0 auto;
    display: block;
}

.calculate-description {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 30px;
}

.calculate-select-input {
    width: 100%;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans Thai', sans-serif;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.calculate-text-input {
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans Thai', sans-serif;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 10px;
}

.calculate-primary-button {
    width: 80%;
    color: #ffffff;
    background-color: #000000;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: 32px;
    display: block;
}

.calculate-ignore-button {
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 2.6px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: 32px;
    display: block;
}

.result-value-container {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    box-sizing: border-box;
    padding: 20px 0px;
    margin-bottom: 12px;
}

.result-value-baht {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
}

.result-value-about {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
}

.result-description {
    width: calc(100% - 50px);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    text-align: center;
    line-height: 1.3;
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
}

.default-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 2.6px;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-bottom: 12px;
}

.default-title {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Noto Sans Thai', sans-serif;
}

.default-data {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
}

.default-description {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Noto Sans Thai', sans-serif;
}

@media screen and (max-width: 400px) {
    body {
        height: auto;
        padding: 10px;
    }

    .card-banner {
        width: 100%;
        border-radius: 12px;
        border-style: solid;
        border-color: #000000;
        border-width: 2.6px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }    

    .calculate-form {
        width: calc(100% - 25px);
        margin: 0 auto;
        display: block;
    }
}